body{
    margin: 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

form{
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

form input {
    padding: 4px 26px;
}

#pokemon-liste{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.item-pokemon{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}